h1, h2, h3, h4, h5 {
  margin: 5px 0;
}

p {
  margin: 0;
}

body {
  background-color: var(--spectrum-global-color-gray-100);
  color: var(--spectrum-global-color-gray-800);
}

.root {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}