.root {
	position: relative;
	display: flex;
	flex-direction: column;
	max-height: 160px;
	flex-wrap: wrap;
}

.slider {
	width: 200px;
	margin: 0 5px;
}

.buttons {
	position: absolute;
	bottom: 0;
	right: 10px;
}