@value _headerHeight: 240px;
@value _playerHeight: 48px;
@value _tabControlsHeight: 30px;

.root {
	width: 100%;
	height: 100%;
}

.content {
	padding: 0 0 0 20px;
	margin-bottom: _playerHeight;
	display: flex;
	height: calc(100% - _headerHeight - _playerHeight - _tabControlsHeight);
}

.player {
	width: 100%;
	position: fixed;
	height: _playerHeight;
	left: 0;
	right: 0;
    bottom: 0;
}