.tracks table {
	border-spacing: 0;
}

.tracks thead th {
	background-color: var(--spectrum-global-color-gray-100);
	padding: 10px 0;
}

.tracks .playButton {
	min-width: 88px;
	margin-right: 10px;
}

.tracks .playing {
	border-radius: 18px;
	background-color: var(--spectrum-global-color-celery-400);
}

.tracks tbody tr td {
	max-width: 120px;
	white-space: nowrap;
  	overflow: hidden;
	text-overflow: ellipsis;
}

.tracks tbody tr:hover {
	background-color: var(--spectrum-global-color-gray-200);
}